<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plague Simulation</title>
</head>
<body>
    <div class="container">
        <section class="time-manipulation">
            <input type="range" id="time-speed" min="0" max="16" value="1" step="1">
            <span><span id="time-speed-value">1</span> day per second</span>
        </section>
        <main class="canvas-wrapper">
            <canvas id="canvas"></canvas>
        </main>
        <section>
            <span>Day: <span id="day-counter">0</span></span>
        </section>
    </div>
</body>
</html>