<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plague Simulation</title>
</head>
<body>
    <div class="container">
        <main class="canvas-wrapper">
            <canvas id="canvas"></canvas>
        </main>
        <section class="box">
            Currently hovering: <span id="hovering"></span>
        </section>
    </div>
</body>
</html>