@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    margin: 0;

    background-color: #373F47;
    color: white;

    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.time-manipulation {
    display: flex;
    flex-direction: row;
    align-self: flex-end;

    & > * {
        margin: 0 10px;
    }
}

.chart-container {
    width: 80vw;
}